<div class="table-container">
    <devsu-spinner *ngIf="!data"></devsu-spinner>
    <table *ngIf="data">
        <thead>
            <tr>
                <th *ngFor="let column of columns"
                    [ngClass]="{'text-center': column.centered}">
                    {{column.display}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!data.length">
                <td class="text-center no-content" [attr.colspan]="columns.length">Sin elementos que mostrar...</td>
            </tr>
            <tr *ngFor="let record of data">
                <td *ngFor="let column of columns">
                    <span *ngIf="!column.type">{{record[column.name]}}</span>
                    <devsu-contextual-menu 
                        *ngIf="column.type == 'menu'"
                        #menu
                        [menuItems]="column.menuItems || []"
                        (optionSelected)="handleContextualMenuSelection($event, record)">
                    </devsu-contextual-menu>
                </td>
            </tr>               
        </tbody>
    </table>
</div>
<div *ngIf="data" class="pagination-section">
    {{totalRecords}} Resultados 
    
    <div id="pagination">
        <button class="icon" [disabled]="!canGoToPrev()" (click)="goToPrev()"><devsu-icon>chevron_left</devsu-icon></button>
        {{currentPage}} de {{totalPages}}
        <button class="icon" [disabled]="!canGoToNext()" (click)="goToNext()"><devsu-icon>chevron_right</devsu-icon></button>
    </div>
    
    <select [(ngModel)]="showedItems" (change)="updateShowedItems()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</div>