<devsu-screen-wrapper>
    <div class="flex flex-vertical-center mb-1">
        <input type="search" placeholder="Buscar..." [formControl]="searchTermControl">
        <div class="flex-fill-space"></div>
        <button class="main" [routerLink]="['new']">Agregar</button>
    </div>
    <devsu-paginated-table
        [columns]="productsColumns"
        [source]="filteredProducts"
        (onContextualMenuSelected)="handleContextualMenu($event)">
    </devsu-paginated-table>
</devsu-screen-wrapper>