.product-logo {
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    color: var(--main-text-color);
    display: flex;
    height: 42px;
    justify-content: center;
    margin: auto;
    width: 42px;
}
img {
    object-fit: cover;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}