.form-field {
    position: relative;
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
}
.form-field input {
    width: 100%;
}
small {
    color: red;
    font-size: 1.2rem;
    margin-top: .25rem;
    position: absolute;
}